<!DOCTYPE html>
<html data-ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body data-ng-controller="mainController">
    <h1>Friends</h1>
    <input type="text" placeholder="Name" data-ng-model="name">
    <input type="text" placeholder="Birthday" data-ng-model="birth">
    <button type="button" data-ng-click="addFriend()">Add Friend</button>
    <button type="button" data-ng-click="removeFriend()">Remove Friend</button>
    <ul style="list-style:none;">
      <li data-ng-repeat="friend in friends | filter: {name: name, birthday: birth}">
        <div class="friend">
         <p>Name: {{friend.name}}</p>
         <p>Birthday: {{friend.birthday}}</p>
       </div>
      </li>
    </ul>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/mainController.js"></script>
  </body>
</html>
